{% extends 'base.html.twig' %}



{% block body %}
<div class="container my-5">
<h1>Espace membre privé!</h1>
<h1>Modification de mon mot de passe </h1>
{{ form(modifyPwd) }}
1. un formulaire 
  1.a le mot de passe actuel -> comparer avec le mot de passe actuel dans la base de deconnecter
  1.b nouveaux mot de passe 
  1.c  confirmation de son mot de passe 


2.Mise à jour en BDD
  2.a lui envoyer une petit notification pour lui confirmation la modification 




</div>
{% endblock %}