{% if field.value == 1 %}
    <span class="badge text-bg-secondary">En attente de paiement</span> 
{% elseif field.value == 2 %}
    <span class="badge text-bg-success">Payée</span> 
{% elseif field.value == 3 %}
    <span class="badge text-bg-success">Expédiée</span> 
{% endif %}